/**
 * extra.css
 */

body {
  font-family: Futura, Helvetica, sans-serif;
}

a {
  color: #0594a9;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0cbec1;
  text-decoration: none;
}

blockquote {
  border-radius: 1px;
}

blockquote.important {
  background-color: rgba(237, 237, 237, 0.5);
  border-left: 5px solid #e11a1a;
}

@media only screen and (max-width: 770px) {
  blockquote > p {
    font-size: 12px;
  }
}

@media only screen and (min-width: 771px) {
  blockquote {
    padding: 20px;
  }
}

.navbar {
  background-image: linear-gradient(#008a9e, #0594a9 50%, #008a9e);
  background-repeat: no-repeat;
  border-bottom: 1px solid #008a9e;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #034d57;
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #034d57;
  color: #fff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #008a9e;
  color: #fff;
  outline: 0;
  text-decoration: none;
}

@media only screen and (min-width: 1480px) {
  .container {
    width: 1440px;
  }
}
