/**
 * extra.css
 */

/**
 * Global
 */

html {
  font-size: 100%;
}

body {
  font-family: Futura, Helvetica, monospace, sans-serif;
}

body > .container {
  font-family: Charter, Optima, Palatino, monospace, sans-serif;
}

a {
  color: #5e1bb3;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #32125c;
  text-decoration: none;
}

footer {
  display: none !important;
}

pre, code {
  font-family: monospace, sans-serif;
}

code.hljs {
  padding: 0.5em 1em;
}

pre, .rst-content tt {
  padding: 0;
}

li pre {
  display: flex;
  margin: 0;
  padding: 0;
}

li pre > code,
li pre > code.hljs {
  padding: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid rgba(217, 217, 217, 0.5);
  color: #444;
  font-family: Charter, Optima, Palatino, monospace, sans-serif;
  font-weight: 500;
  margin: 15px 0;
  padding: 5px 0;
}

h1, .h1 {
  font-size: 40px;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 32px;
}

h4, .h4 {
  font-size: 28px;
}

h5, .h5 {
  font-size: 24px;
}

h6, .h6 {
  font-size: 20px;
}

blockquote {
  border-radius: 1px;
}

blockquote > div {
  margin: 10px 0;
}

@media only screen and (max-width: 770px) {
  blockquote > p {
    font-size: 12px;
  }
}

@media only screen and (min-width: 771px) {
  blockquote {
    margin: 25px 0;
    padding: 15px;
  }
}

/**
 * Notices, warnings, etc.
 */

blockquote.important,
blockquote.notice {
  font-family: "PT Mono", "Trebuchet MS", monospace, sans-serif;
  font-weight: bold;
}

blockquote.important {
  background-color: rgba(237, 237, 237, 0.5);
  border-left: 5px solid #e11a1a;
}

blockquote.notice {
  background-color: rgba(237, 237, 237, 0.5);
  border-left: 5px solid #e37d0e;
}

/**
 * Navigation, menus, etc.
 */

.navbar {
  background-image: linear-gradient(#5e1bb3, #5e32ca 50%, #5e1bb3);
  background-repeat: no-repeat;
  border-bottom: 1px solid #5e1bb3;
}

.navbar-default .navbar-toggle {
  border-color: #4ebaca;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1fa3b7;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #03b2cb;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #32125c;
  color: #fff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  outline: 0;
  text-decoration: none;
}

@media only screen and (min-width: 1480px) {
  .container {
    width: 1440px;
  }
}
