/**
 * extra.css
 */

/**
 * Global
 */

body {
  font-family: Futura, Helvetica, monospace, sans-serif;
}

body > .container {
  font-family: Charter, Optima, Palatino, monospace, sans-serif;
}

a {
  color: #0594a9;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0cbec1;
  text-decoration: none;
}

pre, code {
  font-family: monospace, sans-serif;
}

blockquote {
  border-radius: 1px;
}

@media only screen and (max-width: 770px) {
  blockquote > p {
    font-size: 12px;
  }
}

@media only screen and (min-width: 771px) {
  blockquote {
    margin: 25px 0;
    padding: 15px;
  }
}

/**
 * Notices, warnings, etc.
 */

blockquote.important,
blockquote.notice {
  font-family: "PT Mono", "Trebuchet MS", monospace, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -0.5px;
}

blockquote.important {
  background-color: rgba(237, 237, 237, 0.5);
  border-left: 5px solid #e11a1a;
}

blockquote.notice {
  background-color: rgba(237, 237, 237, 0.5);
  border-left: 5px solid #e37d0e;
}

/**
 * Navigation, menus, etc.
 */

.navbar {
  background-image: linear-gradient(#008a9e, #0594a9 50%, #008a9e);
  background-repeat: no-repeat;
  border-bottom: 1px solid #008a9e;
}

.navbar-default .navbar-toggle {
  border-color: #4ebaca;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1fa3b7;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #03b2cb;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #034d57;
  color: #fff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  outline: 0;
  text-decoration: none;
}

@media only screen and (min-width: 1480px) {
  .container {
    width: 1440px;
  }
}

/**
 * Screenshot images on example pages.
 */

@media only screen and (min-width: 1280px) {
  img[alt^="Braintree Guest Checkout -- Step"],
  img[alt^="Authorize.net Guest Checkout -- Step"] {
    height: 350px;
    width: calc(33.33333% - 5px);
  }
}
