/**
 * styles.css
 */

html {
  margin: 5px;
}

body.homepage {
  font-family: monospace;
}

a {
  clear: left;
  float: left;
  line-height: normal;
}

ol, ul {
  display: inline-block;
  padding: 5px;
  width: calc(100% - 20px);
}

ol {
  list-style-type: none;
  margin-left: 5px;
}

ul {
  list-style-type: circle;
  margin-left: 10px;
}

li {
  clear: left;
}

pre {
  display: table;
  margin: 0;
}

span.block {
  display: block;
}

span.bold {
  font-weight: bold;
}

span.emph {
  font-style: italic;
}

@media screen and (max-width: 480px) {
  span.bold, ul > li {
    font-size: 3rem;
    line-height: 3rem;
    padding: 1rem;
  }

  ul {
    margin-left: 3rem;
  }
}
