html {
  margin: 5px;
}

a {
  clear: left;
  float: left;
  line-height: 18px;
}

ol,
ul {
  display: inline-block;
  padding: 5px;
  list-style-type: none;
}

li {
  clear: left;
}

pre {
  display: table;
  margin: 0;
}
