html {
  margin: 5px;
}

body.homepage {
  font-family: monospace;
}

a {
  clear: left;
  float: left;
  line-height: 18px;
}

ol,
ul {
  display: inline-block;
  padding: 5px;
}

ol {
  list-style-type: none;
  margin-left: 5px;
}

ul {
  list-style-type: circle;
  margin-left: 10px;
}

li {
  clear: left;
}

pre {
  display: table;
  margin: 0;
}

span.block {
  display: block;
}

span.bold {
  font-weight: bold;
}

span.emph {
  font-style: italic;
}
